@import "../../../styles/keyframes";
@import "../../../styles/theme";
@import "../../../styles/times";

.overLayer{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $background;
    animation: $transition-initial-animation forwards linear disappear;
    animation-delay: $transition-initial-delay;
}