$transition-initial-animation:150ms;
$transition-initial-delay: 1s;

$transition-between-pages-animation:150ms;
$transition-between-pages-delay: 1s;

$menu-item-animation-appear:200ms;
$menu-item-animation-slide:100ms;
$menu-item-delay-menu:1300ms;
$menu-item-delay-project:1500ms;
$menu-item-delay-contact:1700ms;
$menu-item-delay-about:1900ms;
$menu-item-delay-configuration:2100ms;

$configuration-theme-animation:200ms;
$configuration-see-more-animation:100ms;