@import "./styles/theme";
@import "./styles/times";

.app{
  background-color: $background-dark-1;
  color: $text-color-dark;
  transition: $change-theme-transition;
  &--light{
    background-color:$background-light-1;
    color: $text-color-light;
  }
}