@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
  font-size: 16px;
  font-weight: 800;
}

@media screen and (max-width: 980px) {
  * {
    font-size: 14px;
  }
}
@media screen and (max-width: 1080px) and (min-width: 981px) {
  * {
    font-size: 16px;
  }
}
@media screen and (min-width: 1081px) {
  * {
    font-size: 20px;
  }
}

html,
body,
main,
#root {
  height: 100%;
  width: 100%;
}

$dark: black;
