@import '../../styles/keyframes';
@import '../../styles/theme';
@import '../../styles/times';

.item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
    transition: 200ms;
    
}

.item:hover {
    background-color: rgba($color: #414141, $alpha: 0.7);
    color: $text-color-dark;
}

.icon {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    width: 100%;
}

